<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
    <!-- the next two scripts will create a funcion insert a script into the DOM of this html page -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="//apis.google.com/js/platform.js?onload=start">
    </script>
</head>

<body class="container">
    <div class="row text-center text-uppercase" style="background-color:#008B8B">
        <h1>Restaurant submitting prerequisites</h1>
    </div>
    <div class="row" style="margin-top: 35px; color: red;">
        <h3> We are sorry but you can't do this action in our restaurant without signing in with gmail please sign in or create 
  a new mail then try to sign in with gmail, after that you will be able to Add, Edit or Delete Items in 
  The restaurant menu. </h3>
    </div>
    <div class="row text-center">
        <h2> Sign in here: </h2>

        <!-- the next div is the google sign_in button -->
        <!-- data-accesstype="offline" means server can make requests to google API server even if the user isnot logged in -->
        <!-- data-callback="signInCallback" means if the user clicks & grant the app to access to his profile
     this callback metod will called& given the one time use code-->
        <!-- data-approvalprompt="force" means that the user will login each time he visit the login page -->
        <div id="signInButton" style="margin-left: 30px;">
            <span class="g-signin" data-scope="openid email" data-clientid="112163747747-m5g1qjalqveblet145ribo9dtqrmn852.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
          </span>
        </div>

        <div id="result"></div>

    </div>
    <script>
        //callback function to handle the response that google sends back to the cleint
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Hide the sign-in button after the user is authorized
                $('#signinButton').attr('style', 'display: none');
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false, // prevent JQUERY to process the response into a string 
                    data: authResult['code'],
                    contentType: 'application/octet-stream;  charset=utf-8', //the octet-stream indicates that we are sending an arbitary
                    //   binary stream of data .

                    success: function(result) {
                        // when receive a successfull response (200) from the server return a successfull login msg. 
                        // then redirect to the main page after about 4 seconds.
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/restaurant";
                            }, 4000);

                            // if google return an error to the user we will report this error to console.log
                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                            // return this error msg to the above result div if no response was returned by the server to the call back function  
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }

                });
            }
        }
    </script>

</body>

</html>